extends ../components/base/layout

block variables
  - const title = "Мангазея Майнинг" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "header--invert"
  - const headerActivePage = "компания"
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "company.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +section-intro(companyIntroSection)
    +values(valuesSectionData)
    +mission(dataMission)
    +history(historySectionData)

block modals
