extends ../components/base/layout

block variables
  - const title = "Группа «Мангазея» | Новости" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "header--has-bg"
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "new.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const content = {
      intro: {
        dateNumber:"15",
        dateMonth: "октября",
        dateYear:"2021",
        title: "«Мангазея Девелопмент» произвела заливку первого куба бетона в ЖК «Интонация»",
        text: "«Мангазея Девелопмент» начала монолитные работы с&nbsp;устройства фундаментной плиты в&nbsp;жилом комплексе «Интонация» в&nbsp;Москве.",
      },
      content: [
        {
          type: 'slider',
          slides: [
            {
              path: "content/new/slider",
              image: "img-1",
              format: "jpg",
              width: 1344,
              height: 720,
              alt: "фото",
            },
            {
              path: "content/new/slider",
              image: "img-2",
              format: "jpg",
              width: 1344,
              height: 720,
              alt: "фото",
            },
          ],
        },
        {
          type: "text",
          content: "<p>В мероприятии приняли участие представители компаний, участвующих&nbsp;в&nbsp;реализации проекта: Д.&nbsp;Р.&nbsp;Грачев, руководитель проекта ООО&nbsp;«Специализированный застройщик «АктивДевелопмент», Д.&nbsp;Ю.&nbsp;Митин, генеральный&nbsp;директор&nbsp;ООО «МД&nbsp;Строй», И.&nbsp;К.&nbsp;Янюк, заместитель генерального директора по&nbsp;развитию и&nbsp;коммерции Constructor Group, К.Р.&nbsp;Гиоев, заместитель генерального директора по&nbsp;строительству Constructor Group.</p><p>«Мероприятие опережает сроки внутреннего графика, что говорит о&nbsp;высоких темпах производства работ на&nbsp;строительной площадке, а&nbsp;отличное качество их&nbsp;исполнения подтверждают профессионализм команды и&nbsp;высокий класс ЖК&nbsp;&bdquo;Интонация&ldquo;. Нам также радостно констатировать тот факт, что первые квартиры на&nbsp;объекте уже поступили в&nbsp;продажу и&nbsp;находят своих покупателей», – прокомментировал ход строительства Дмитрий Грачев, руководитель проекта ЖК «Интонация».</p>"
        },
        {
          type: "video",
          title: "Название видеоролика в 2-3 строки",
          time: "2:45 мин",
          video: `Bb92lBLkkRQ`,
          videoCover: "img/content/video-cover.jpg"
        },
        {
          type: "text",
          content: "<h1>Заголовок 1 уровня</h1><h2>Заголовок 2 уровня</h2><h3>Заголовок 3 уровня</h3><p>Срок сдачи жилого комплекса бизнес-класса «Интонация» по&nbsp;адресу Москва, ул. Щукинская, земельный участок 7А&nbsp;запланирован на&nbsp;4&nbsp;квартал 2023&nbsp;года. В&nbsp;ЖК&nbsp;планируется возведение двух корпусов высотой 21&nbsp;этаж на&nbsp;308&nbsp;квартир.</p><ol><li>Элемент нумерованного списка 1</li><li>Элемент нумерованного списка 2</li><li>Элемент нумерованного списка 3</li></ol><p>В&nbsp;мероприятии приняли участие представители компаний, участвующих в&nbsp;реализации проекта: Д.&nbsp;Р.&nbsp;Грачев, руководитель проекта ООО&nbsp;&laquo;Специализированный застройщик &laquo;АктивДевелопмент&raquo;, Д.&nbsp;Ю.&nbsp;Митин, генеральный директор ООО &laquo;МД&nbsp;Строй&raquo;, И.&nbsp;К.&nbsp;Янюк, заместитель генерального директора по&nbsp;развитию и&nbsp;коммерции Constructor Group, К.Р.&nbsp;Гиоев, заместитель генерального директора по&nbsp;строительству Constructor Group.</p><ul><li>Элемент ненумерованного списка 1</li><li>Элемент ненумерованного списка 2</li><li>Элемент ненумерованного списка 3</li></ul><p>«Мероприятие опережает сроки внутреннего графика, что говорит о&nbsp;высоких темпах производства работ на&nbsp;строительной площадке, а&nbsp;отличное качество их&nbsp;исполнения подтверждают профессионализм команды и&nbsp;высокий класс ЖК&nbsp;&bdquo;Интонация&ldquo;. Нам также радостно констатировать тот факт, что первые квартиры на&nbsp;объекте уже поступили в&nbsp;продажу и&nbsp;находят своих покупателей», – прокомментировал ход строительства Дмитрий Грачев, руководитель проекта <a href='#'>ЖК «Интонация».</a></p>",
        },
      ]
    }

block main
  main
    +new-content(content)
    +new-navigation
