extends ../components/base/layout

block variables
  - const title = "Группа «Мангазея» | Новости" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "header--invert"
  - const headerActivePage = "Новости"
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "new.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const content = {
      intro: {
        dateNumber:"19",
        dateMonth: "августа",
        dateYear:"2021",
        title: "Радио &laquo;Вера&raquo; начало вещание в&nbsp;Чите при&nbsp;поддержке ГК&nbsp;&laquo;Мангазея&raquo;",
        text: "16&nbsp;августа 2021 года в&nbsp;Чите на&nbsp;частоте 87,6&nbsp;FM запустилось вещание некоммерческой просветительской радиостанции &laquo;ВЕРА&raquo; при помощи Группы компаний &laquo;Мангазея&raquo;.",
      },

      slider:
        {
          type: 'slider',
          slides: [
            {
              path: "content/slider-news",
              image: "slider-news",
              format: "jpg",
              width: 1344,
              height: 720,
              alt: "фото",
            },
            {
              path: "content/slider-news",
              image: "slider-news",
              format: "jpg",
              width: 1344,
              height: 720,
              alt: "фото",
            },
            {
              path: "content/slider-news",
              image: "slider-news",
              format: "jpg",
              width: 1344,
              height: 720,
              alt: "фото",
            },
            {
              path: "content/slider-news",
              image: "slider-news",
              format: "jpg",
              width: 1344,
              height: 720,
              alt: "фото",
            },
            {
              path: "content/slider-news",
              image: "slider-news",
              format: "jpg",
              width: 1344,
              height: 720,
              alt: "фото",
            },
            {
              path: "content/slider-news",
              image: "slider-news",
              format: "jpg",
              width: 1344,
              height: 720,
              alt: "фото",
            },
            {
              path: "content/slider-news",
              image: "slider-news",
              format: "jpg",
              width: 1344,
              height: 720,
              alt: "фото",
            },
          ],
        },

      video:
        {
          type: "video",
          title: "Название видеоролика в 2-3 строки",
          time: "2:45 мин",
          video: `Bb92lBLkkRQ`,
          videoCover: "img/content/video-cover.jpg",
          name: "mining",
          format: 'mp4',
          preload: 'auto',
        },

      textsTop: [{
          type: "text",
          content: "Радио &laquo;ВЕРА&raquo;&nbsp;&mdash; это уникальный медиапроект, который был создан в&nbsp;сентябре 2014 года с&nbsp;целью рассказать современному человеку о&nbsp;православной вере. Радиостанция существует для знакомства слушателей с&nbsp;русской православной культурой, историей, вечными истинами веры. &laquo;ВЕРА&raquo; рассказывает о&nbsp;традиционных семейных ценностях и&nbsp;воспитании детей, а&nbsp;также поддерживает и&nbsp;развивает благотворительность и&nbsp;волонтерство."
        },
        {
          type: "text",
          content: "Кроме разговорных программ, в&nbsp;эфире звучит лучшая отечественная и&nbsp;зарубежная музыка. Построенная по&nbsp;правилам современного FM-вещания, радиостанция стремится помочь всем и&nbsp;каждому оставаться в&nbsp;добром и&nbsp;мирном настроении."
        },
        {
          type: "text",
          content: "Радио ВЕРА как проект включает в&nbsp;себя более 100&nbsp;программ, большая часть которых несет образовательную и&nbsp;просветительскую функцию. Программы такие, как &laquo;Места и&nbsp;люди&raquo;, &laquo;Имена милосердия&raquo;, &laquo;Исторический час&raquo;, &laquo;Храмы моего города&raquo;, &laquo;Семейные истории&raquo; и&nbsp;многие другие, ориентированы на&nbsp;самые разные целевые аудитории."
        },
        ],
        textsBottom: [{
          type: "text",
          content: "Стоит отметить, что в&nbsp;эфире Радио &laquo;ВЕРА&raquo; отсутствует коммерческая реклама. В&nbsp;то&nbsp;же время большое внимание уделяется рассказам о&nbsp;благотворительных и&nbsp;социальных проектах в&nbsp;программе &laquo;Дело дня&raquo;."
        },
        {
          type: "text",
          content: "&laquo;Для нас большая честь иметь возможность поддержать такой значимый медиапроект как Радио &laquo;ВЕРА&raquo;, помогающий нуждающимся, а&nbsp;также вдохновляющий общество проникнуться верой и&nbsp;ее&nbsp;истинами. Вера&nbsp;&mdash; это&nbsp;то, что&nbsp;помогает в&nbsp;самые трудные минуты жизни. Надеемся, что радиостанция будет полезна каждому своему слушателю&raquo;,&nbsp;&mdash; прокомментировал председатель совета директоров ООО &laquo;Мангазея Золото&raquo; Роман Кашуба."
        },
        {
          type: "text",
          content: "Радиостанция доступна для прослушивания на&nbsp;сайте radiovera.ru и&nbsp;посредством мобильного приложения из&nbsp;любой точки мира. Радио &laquo;ВЕРА&raquo; присутствует более, чем в&nbsp;70&nbsp;городах России с&nbsp;техническим охватом более 50&nbsp;млн. человек в&nbsp;FM диапазоне. Ежедневное количество слушателей&nbsp;&mdash; более 900&nbsp;тыс. человек."
        },
        ]
    }



block main
  main
    +new-content(content)
    +new-navigation
