extends ../components/base/layout

block variables
  - const title = "Группа «Мангазея» | Новости" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "header--invert"
  - const headerActivePage = "Новости"
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "news.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const introTitle = {
      title: "Новости",
      filter: {
        filterTitle: "Фильтр по дате:",
        options: [
          {
            id: "news-year",
            placeholder: "Все года",
            name: "news-year",
            optionsList: [
              {
                text: "2022",
                value: "2022"
              },
              {
                text: "2021",
                value: "2021"
              },
            ],
          },
          {
            id: "news-month",
            placeholder: "Все месяцы",
            name: "news-month",
            optionsList: [
              {
                text: "Январь",
                value: "01"
              },
              {
                text: "Февраль",
                value: "02"
              },
              {
                text: "Март",
                value: "03"
              },
              {
                text: "Апрель",
                value: "04"
              },
              {
                text: "Май",
                value: "05"
              },
              {
                text: "Июнь",
                value: "06"
              },
              {
                text: "Июль",
                value: "07"
              },
              {
                text: "Август",
                value: "08"
              },
              {
                text: "Сентябрь",
                value: "09"
              },
              {
                text: "Октябрь",
                value: "10"
              },
              {
                text: "Ноябрь",
                value: "11"
              },
              {
                text: "Декабрь",
                value: "12"
              },
            ],
          },
        ],
      },
    }

   const successModal = {
      title: "Cпасибо, <br> ваше cообщение <br> отправлено",
      text: "Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время.",
    }



block main
  main
    +news(introTitle, newsCardData)
    +subscribe()

block modals
  +modal("modal--feedback-success")(data-modal="feedback-success")
    +modal-feedback-success(successModal)
