extends ../components/base/layout

block variables
  - const title = "Список страниц"

block main
  style.
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h1 {
      font-size: 24px;
      line-height: 28px;
    }

    li {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 7px;
    }

    .container div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 224px;
      height: 88px;
      margin-bottom: 40px;
      background-color: #17214A;
      color: #ffffff;
    }

    img {
      max-width: 224px;
      height: auto;
      display: block;
    }

    @media (max-width: 768px) {
      .container {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      ol {
        padding-left: 20px;
      }

      ol li {
        margin-bottom: 15px;
      }
    }

  -
    const pages = [
      {
        name: "UI-kit — ui-kit.html",
        src: "ui-kit.html"
      },
      {
        name: "Главная — index.html",
        src: "index.html"
      },
      {
        name: "Компания — company.html",
        src: "company.html"
      },
      {
        name: "Поставщикам — suppliers.html",
        src: "suppliers.html"
      },
      {
        name: "Операции — operations.html",
        src: "operations.html"
      },
      {
        name: "Новости — news.html",
        src: "news.html"
      },
      {
        name: "Новость — new.html",
        src: "new.html"
      },
    ]

  main
    .container
      div
        +icon('logo', 128, 40, true)(role="img" aria-label="Логотип Мангазея Майнинг")
      h1 Список страниц
      ol
        each page in pages
          li
            a(href= page.src)= page.name
