
mixin conditions()
  .container
    section.conditions
      h1.caps-12(data-sal="slide-up" data-words-animation) Пользовательское соглашение
      h2.heading-2(data-sal="slide-up" data-words-animation) Условия передачи <br>информации на сайте
      .conditions__content
        +textList({
          text: "Предоставляя свои персональные данные Пользователь даёт согласие на обработку, хранение и&nbsp;использование своих персональных данных на&nbsp;основании ФЗ &#8470;&nbsp;152-ФЗ &laquo;О&nbsp;персональных данных&raquo; от 27.07.2006 г. в&nbsp;следующих целях:",
          list: [
            "Осуществление клиентской поддержки",
            "Получения Пользователем информации о маркетинговых событиях",
            "Проведения аудита и&nbsp;прочих внутренних исследований с&nbsp;целью повышения качества предоставляемых&nbsp;услуг."
          ],
        })
        +textList({
          text: "Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность Пользователя/Покупателя такая как:",
          list: [
            "Фамилия, Имя, Отчество",
            "Дата рождения",
            "Контактный телефон",
            "Адрес электронной почты",
            "Почтовый адрес"
          ],
        })
        +textList({
          text: "Персональные данные Пользователей хранятся исключительно на&nbsp;электронных носителях и&nbsp;обрабатываются с&nbsp;использованием автоматизированных систем, за&nbsp;исключением случаев, когда неавтоматизированная обработка персональных данных необходима в&nbsp;связи с&nbsp;исполнением требований законодательства. Компания обязуется не&nbsp;передавать полученные персональные данные третьим лицам, за&nbsp;исключением следующих случаев:",
          list: [
            "По&nbsp;запросам уполномоченных органов государственной власти&nbsp;РФ только по&nbsp;основаниям и&nbsp;в&nbsp;порядке, установленным законодательством&nbsp;РФ",
            "Стратегическим партнерам, которые работают с&nbsp;Компанией для предоставления продуктов и&nbsp;услуг, или&nbsp;тем из&nbsp;них, которые помогают Компании реализовывать продукты и&nbsp;услуги потребителям. Мы&nbsp;предоставляем третьим лицам минимальный объем персональных данных, необходимый только <br class='br-mob'>для оказания требуемой услуги или&nbsp;проведения <br class='br-desc'>необходимой транзакции."
          ],
        })
        p.text-14 Компания оставляет за&nbsp;собой право вносить изменения в&nbsp;одностороннем порядке в&nbsp;настоящие правила, при условии, что изменения не&nbsp;противоречат действующему законодательству РФ. Изменения условий настоящих правил вступают в&nbsp;силу после их&nbsp;публикации на&nbsp;Сайте.
      +btn({tag: "a", href:"index.html", text: "перейти на главную"}).caps-12.btn--dark-blue.btn--big
