
mixin conditions()
 .container
   section.conditions
    h1.caps-12(data-sal="slide-up" data-words-animation) Пользовательское соглашение
    h2.heading-2(data-sal="slide-up" data-words-animation) Условия передачи <br>информации на сайте
    .conditions__content
      +textList({
        text: "Предоставляя свои персональные данные Пользователь даёт согласие на обработку, хранение и использование своих персональных данных <br class='br-mob'>на основании ФЗ № 152-ФЗ <br class='br-mob'>«О персональных данных» от 27.07.2006 г. в следующих целях:",
        list: [
          "Осуществление клиентской поддержки",
          "Получения Пользователем информации о маркетинговых событиях",
          "Проведения аудита и прочих внутренних исследований с целью повышения качества предоставляемых услуг."
        ],
      })
      +textList({
        text: "Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность Пользователя/Покупателя такая как:",
        list: [
          "Фамилия, Имя, Отчество",
          "Дата рождения",
          "Контактный телефон",
          "Адрес электронной почты",
          "Почтовый адрес"
        ],
      })
      +textList({
        text: "Персональные данные Пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства. Компания обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих случаев:",
        list: [
          "По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке, установленным законодательством РФ",
          "Стратегическим партнерам, которые работают с Компанией для предоставления продуктов и услуг, или тем из них, которые помогают Компании реализовывать продукты и услуги потребителям. <br class='br-mob'>Мы предоставляем третьим лицам минимальный объем персональных данных, необходимый только для оказания требуемой услуги или проведения <br class='br-desc'>необходимой транзакции."
        ],
      })
      p.text-14 Компания оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила, при условии, что изменения не противоречат действующему законодательству РФ. Изменения условий настоящих правил вступают в силу после их публикации на Сайте.
    +btn({tag: "a", href:"index.html", text: "перейти на главную"}).caps-12.btn--dark-blue.btn--big
