mixin cookies
  .cookies(data-cookies data-cookies-duration='30')
    div.cookies__text
      span Продолжая пользоваться сайтом, вы&nbsp;соглашаетесь с&nbsp;использованием файлов cookie
    button.cookies__btn.btn.btn--white(type='button' data-cookies-consent) Принимаю
