-
  const interviewGenData = {
    title: `Интервью<br> с генеральным директором`,
    video: {
      name: 'mining',
      format: 'mp4',
    },
  }

mixin interview(props)
  section.interview&attributes(attributes)(data-video-interview-container)
    .container
      .interview__video-wrapper
        video(preload="auto", data-video-interview, muted, playsinline, loop, data-src=`video/${props.video.name}.${props.video.format}`)
        +video-btn({})
      h2.caps-12.interview__title !{props.title}
      .interview__content
        p.text-18.interview__description #[span.interview__author Михаил Гусев]&nbsp;&mdash; о&nbsp;золоте#[span.interview__time-code(data-video-timecode="5") 1:28], серебре, производстве в&nbsp;Забайкальском крае#[span.interview__time-code(data-video-timecode="10") 2:06], развитии компании#[span.interview__time-code(data-video-timecode="3") 4:35] и&nbsp;планах на&nbsp;ближайшее&nbsp;будущее#[span.interview__time-code(data-video-timecode="16") 7:09]
        span.caps-12.interview__duration Длительность видео -<br> #[span(data-video-duration) 0] мин


