-
  const introSuppliers = {
    header: {
      headerMob: "Поставщикам",
      titleDesc: "текст в разработке.<br> этот заголовок может быть<br> длиной три строки текста",
      titleMob: "текст в разработке.<br> этот заголовок может быть<br> длиной три строки текста",
    },
    footer: {
      titleDesc: "О проведении<br> закупок",
      titleMob: "О проведении закупок",
      text: [
        'Закупочные процедуры осуществляются путём размещения запросов коммерческих предложений через электронную торговую площадку B2B либо путём прямого запроса.',
        'Данные процедуры не&nbsp;являются конкурсом и&nbsp;не&nbsp;регламентируются&nbsp;ст. 447-449&nbsp;ГК РФ, не&nbsp;являются публичным конкурсом и&nbsp;их&nbsp;проведение не&nbsp;регулируется&nbsp;ст. 1057-1061&nbsp;ГК РФ, не&nbsp;являются офертой и&nbsp;не&nbsp;порождают гражданско-правовых обязательств по&nbsp;заключению договора с&nbsp;участниками&nbsp;запроса.',
        'Общества, инициирующие закупку, оставляют за&nbsp;собой право принять или отклонить любое предложение, а&nbsp;также в&nbsp;любой момент без объявления причин прекратить процедуру сбора предложений, либо изменить условия ее&nbsp;проведения.',
        'Затраты, связанные с&nbsp;подготовкой предложения, Вы&nbsp;несете самостоятельно и&nbsp;указанные затраты не&nbsp;подлежат возмещению инициатором закупочной&nbsp;процедуры.',
      ],
    }

  }

mixin intro-suppliers()
  section.intro-suppliers&attributes(attributes)
    +section-header(introSuppliers.header).intro-suppliers__header
    .tender-b2b
      .container
        .tender-b2b__wrapper
          .b2b-center-market(data-iframe="mangazeyamining" data-domain="www.b2b-center.ru", id="b2b-center-market-js")
    .intro-suppliers__footer
      +section-description(introSuppliers.footer)


