-
  const newsCardData = [
    {
      date: "20",
      year: "сентября",
      month: "2022",
      title: "Производственные результаты II квартала 2021 года",
      path: "",
      image: "",
      format: "",
      width: "",
      height: "",
      alt: "",
    },
    {
      date: "8",
      year: "сентября",
      month: "2022",
      title: "ГК&nbsp;&laquo;Мангазея&raquo; увеличила производство золота во&nbsp;II квартале 2021 года на&nbsp;93%",
      path: "content/news",
      image: "news-1",
      format: "jpg",
      width: "720",
      height: "338",
      alt: "фото новости",
      isActive: true,
    },
    {
      date: "15",
      year: "августа",
      month: "2022",
      title: "&laquo;Мангазея Девелопмент&raquo; объявила о&nbsp;старте продаж нового проекта бизнес-класса &laquo;Интонация&raquo;",
      path: "",
      image: "",
      format: "",
      width: "",
      height: "",
      alt: "",
    },
    {
      date: "12",
      year: "августа",
      month: "2022",
      title: "Радио &laquo;Вера&raquo; начало вещание в&nbsp;Чите при поддержке ГК&nbsp;&laquo;Мангазея&raquo;",
      path: "",
      image: "",
      format: "",
      width: "",
      height: "",
      alt: "",
    },
    {
      date: "28",
      year: "июля",
      month: "2022",
      title: "&laquo;Мангазея Агро&raquo; открыла комфортное общежитие для сотрудников",
      path: "content/news",
      image: "news-2",
      format: "jpg",
      width: "720",
      height: "338",
      alt: "фото новости",
      isActive: true,
    },
    {
      date: "17",
      year: "июля",
      month: "2022",
      title: "ГК&nbsp;&laquo;Мангазея&raquo; увеличила производство золота в&nbsp;I квартале на&nbsp;295,7%",
      path: "content/news",
      image: "news-3",
      format: "jpg",
      width: "720",
      height: "338",
      alt: "фото новости",
      isActive: true,
    },
    {
      date: "9",
      year: "июля",
      month: "2022",
      title: "&laquo;Мангазея Девелопмент&raquo; объявила о&nbsp;старте продаж нового проекта бизнес-класса &laquo;Интонация&raquo;",
      path: "",
      image: "",
      format: "",
      width: "",
      height: "",
      alt: "",
    },
    {
      date: "31",
      year: "июня",
      month: "2022",
      title: "Радио &laquo;Вера&raquo; начало вещание в&nbsp;Чите при поддержке ГК&nbsp;&laquo;Мангазея&raquo;",
      path: "",
      image: "",
      format: "",
      width: "",
      height: "",
      alt: "",
    },
    {
      date: "20",
      year: "июня",
      month: "2022",
      title: "&laquo;Мангазея Агро&raquo; открыла комфортное общежитие для сотрудников",
      path: "content/news",
      image: "news-4",
      format: "jpg",
      width: "720",
      height: "338",
      alt: "фото новости",
      isActive: true,
    },
    {
      date: "18",
      year: "июня",
      month: "2022",
      title: "ГК&nbsp;&laquo;Мангазея&raquo; увеличила производство золота в&nbsp;I квартале на&nbsp;295,7%",
      path: "",
      image: "",
      format: "",
      width: "",
      height: "",
      alt: "",
    },

  ]

mixin news(data)
  section.news
    .container
      ul.news-list
        each item, index in data
          +news-card(item)(class=item.isActive ? "news-card--picture" : null)
      .news__btn-wrapper
        +btn-load-more().news__load-btn


