mixin news-card(data)
  li.news-card(class!=attributes.class)
    if (data.path && data.image && data.format && data.width && data.height && data.alt)
     +picture(data.path, data.image, data.format, data.width, data.height, data.alt).news-card__image
    .news-card__info-wrapper
      .news-card__number-wrapper
        p.news-card__date!=data.date
      .news-card__date-wrapper
        p.news-card__year!=data.year
        p.news-card__month!=data.month
    .news-card__title-wrapper
      p.news-card__title!=data.title
    a(href="#" target="_blank" aria-label="ссылка на новость").news-card__link
