-
  const indexFactsSection = {
    header: "Ключевые факты<br>о&nbsp;компании",
    title: "Ежегодно увеличиваем<br>темпы роста золотодобычи",
    text: "Создаём мощный горноперерабатывающий кластер и&nbsp;ежегодно увеличиваем рост объёмов добычи и&nbsp;производства ценных металлов в&nbsp;действующих месторождениях.",
  }

  const indexGeographySection = {
    header: "География<br>деятельности",
    title: "<span class='section-header__blue-word'>Разрабатываем месторождения</span><br>Наседкино, Итакинское и&nbsp;Кочковское",
    text: "Программа развития компании предусматривает развитие четырёх действующих объектов и&nbsp;введение в&nbsp;промышленную эксплуатацию новых месторождений в&nbsp;Забайкальском крае.",
  }

mixin section-header(data)
  .section-header&attributes(attributes)
    .container
      .section-header__header-wrp
        h2.caps-12.section-header__header!=data.header
      .section-header__title-wrp
        h3.heading-2-caps.section-header__title(data-sal="slide-up" data-words-animation)
          span.section-header__title-text!=data.title
        p.text-14.section-header__text!=data.text
