-
  const teamSlider = [
    {
      id: "slide-1",
      imgName: "about/slide-1",
      imgFormat: "png",
      imgWidth: 160,
      imgHeight: 160,
      imgAlt: "Фотография человека",
      title: "Янчуков",
      subtitle: "Сергей Валентинович",
      desc: "Основатель и&nbsp;владелец ГК&nbsp;&laquo;Мангазея&raquo;, генеральный директор &laquo;Мангазея Девелопмент&raquo;",
      imgContentName: "slide-more-5",
      imgContentFormat: "png",
      imgContentWidth: 207,
      imgContentHeight: 207,
      imgContentAlt: "Фотография человека",
      textBlocks: [
        {
          texts: [
            {
              text: "За 25 лет трудового стажа прошёл поступательный профессиональный путь от помощника бурильщика в УБП ПАО «Варьеганнефтегаз» (г. Радужный) до генерального директора ООО «НК «Итера». Работал главным технологом подрядных работ по строительству скважин в ОАО «Запсибгазпром», заместителем генерального директора и позднее генеральным директором в ОАО «Севернефтегазпром», помощником заместителя председателя Правительства РФ И.И. Сечина в Аппарате Правительства РФ, руководителем Федерального агентства по недропользованию Министерства природных ресурсов.",
            },
            {
              text: "Награждён почётной грамотой ОАО «Газпром» за ввод в эксплуатацию Южно-Русского НГКМ, званием «Почетный работник топливно-энергетического комплекса» от Министерства энергетики РФ и медалью ордена «За заслуги перед Отечеством» II степени за достигнутые трудовые успехи.",
            },
          ],
        },
      ],
    },
    {
      id: "slide-2",
      imgName: "about/slide-2",
      imgFormat: "png",
      imgWidth: 160,
      imgHeight: 160,
      imgAlt: "Фотография человека",
      title: "Кашуба",
      subtitle: "Роман Сергеевич",
      desc: "Генеральный директор ГК&nbsp;&laquo;Мангазея&raquo; и&nbsp;компании &laquo;Мангазея Агро&raquo;, член&nbsp;совета директоров",
      imgContentName: "slide-more-5",
      imgContentFormat: "png",
      imgContentWidth: 165,
      imgContentHeight: 246,
      imgContentAlt: "Фотография человека",
      textBlocks: [
        {
          texts: [
            {
              text: "За 25 лет трудового стажа прошёл поступательный профессиональный путь от помощника бурильщика в УБП ПАО «Варьеганнефтегаз» (г. Радужный) до генерального директора ООО «НК «Итера». Работал главным технологом подрядных работ по строительству скважин в ОАО «Запсибгазпром», заместителем генерального директора и позднее генеральным директором в ОАО «Севернефтегазпром», помощником заместителя председателя Правительства РФ И.И. Сечина в Аппарате Правительства РФ, руководителем Федерального агентства по недропользованию Министерства природных ресурсов.",
            },
            {
              text: "Награждён почётной грамотой ОАО «Газпром» за ввод в эксплуатацию Южно-Русского НГКМ, званием «Почетный работник топливно-энергетического комплекса» от Министерства энергетики РФ и медалью ордена «За заслуги перед Отечеством» II степени за достигнутые трудовые успехи.",
            },
          ],
        },
      ],
    },
    {
      id: "slide-3",
      imgName: "about/slide-3",
      imgFormat: "png",
      imgWidth: 160,
      imgHeight: 160,
      imgAlt: "Фотография человека",
      title: "Арутюнян",
      subtitle: "Людмила Оганесовна",
      desc: "Директор по&nbsp;экономике и&nbsp;финансам, член&nbsp;совета директоров ГК&nbsp;&laquo;Мангазея&raquo;",
      imgContentName: "slide-more-5",
      imgContentFormat: "png",
      imgContentWidth: 218,
      imgContentHeight: 329,
      imgContentAlt: "Фотография человека",
      textBlocks: [
        {
          texts: [
            {
              text: "За 25 лет трудового стажа прошёл поступательный профессиональный путь от помощника бурильщика в УБП ПАО «Варьеганнефтегаз» (г. Радужный) до генерального директора ООО «НК «Итера». Работал главным технологом подрядных работ по строительству скважин в ОАО «Запсибгазпром», заместителем генерального директора и позднее генеральным директором в ОАО «Севернефтегазпром», помощником заместителя председателя Правительства РФ И.И. Сечина в Аппарате Правительства РФ, руководителем Федерального агентства по недропользованию Министерства природных ресурсов.",
            },
            {
              text: "Награждён почётной грамотой ОАО «Газпром» за ввод в эксплуатацию Южно-Русского НГКМ, званием «Почетный работник топливно-энергетического комплекса» от Министерства энергетики РФ и медалью ордена «За заслуги перед Отечеством» II степени за достигнутые трудовые успехи.",
            },
          ],
        },
      ],
    },
    {
      id: "slide-4",
      imgName: "about/slide-4",
      imgFormat: "png",
      imgWidth: 160,
      imgHeight: 160,
      imgAlt: "Фотография человека",
      title: "Гусев",
      subtitle: "Михаил Михайлович",
      desc: "Генеральный директор компании &laquo;Мангазея Майнинг&raquo;",
      imgContentName: "slide-more-5",
      imgContentFormat: "png",
      imgContentWidth: 165,
      imgContentHeight: 246,
      imgContentAlt: "Фотография человека",
      textBlocks: [
        {
          texts: [
            {
              text: "За 25 лет трудового стажа прошёл поступательный профессиональный путь от помощника бурильщика в УБП ПАО «Варьеганнефтегаз» (г. Радужный) до генерального директора ООО «НК «Итера». Работал главным технологом подрядных работ по строительству скважин в ОАО «Запсибгазпром», заместителем генерального директора и позднее генеральным директором в ОАО «Севернефтегазпром», помощником заместителя председателя Правительства РФ И.И. Сечина в Аппарате Правительства РФ, руководителем Федерального агентства по недропользованию Министерства природных ресурсов.",
            },
            {
              text: "Награждён почётной грамотой ОАО «Газпром» за ввод в эксплуатацию Южно-Русского НГКМ, званием «Почетный работник топливно-энергетического комплекса» от Министерства энергетики РФ и медалью ордена «За заслуги перед Отечеством» II степени за достигнутые трудовые успехи.",
            },
          ],
        },
      ],
    },
    {
      id: "slide-5",
      imgName: "about/slide-5",
      imgFormat: "png",
      imgWidth: 160,
      imgHeight: 160,
      imgAlt: "Фотография человека",
      title: "Попов",
      subtitle: "Александр Павлович",
      desc: "Генеральный директор компании &laquo;Мангазея Газ&raquo;",
      imgContentName: "slide-more-5",
      imgContentFormat: "png",
      imgContentWidth: 237,
      imgContentHeight: 195,
      imgContentAlt: "Фотография человека",
      textBlocks: [
        {
          texts: [
            {
              text: "За 25 лет трудового стажа прошёл поступательный профессиональный путь от помощника бурильщика в УБП ПАО «Варьеганнефтегаз» (г. Радужный) до генерального директора ООО «НК «Итера». Работал главным технологом подрядных работ по строительству скважин в ОАО «Запсибгазпром», заместителем генерального директора и позднее генеральным директором в ОАО «Севернефтегазпром», помощником заместителя председателя Правительства РФ И.И. Сечина в Аппарате Правительства РФ, руководителем Федерального агентства по недропользованию Министерства природных ресурсов.",
            },
            {
              text: "Награждён почётной грамотой ОАО «Газпром» за ввод в эксплуатацию Южно-Русского НГКМ, званием «Почетный работник топливно-энергетического комплекса» от Министерства энергетики РФ и медалью ордена «За заслуги перед Отечеством» II степени за достигнутые трудовые успехи.",
            },
          ],
        },
      ],
    },
    {
      id: "slide-6",
      imgName: "about/slide-6",
      imgFormat: "png",
      imgWidth: 160,
      imgHeight: 160,
      imgAlt: "Фотография человека",
      title: "Журко",
      subtitle: "Андрей Сергеевич",
      desc: "Генеральный директор компании &laquo;Мангазея Технолоджи&raquo;",
      imgContentName: "slide-more-5",
      imgContentFormat: "png",
      imgContentWidth: 207,
      imgContentHeight: 207,
      imgContentAlt: "Фотография человека",
      textBlocks: [
        {
          texts: [
            {
              text: "За 25 лет трудового стажа прошёл поступательный профессиональный путь от помощника бурильщика в УБП ПАО «Варьеганнефтегаз» (г. Радужный) до генерального директора ООО «НК «Итера». Работал главным технологом подрядных работ по строительству скважин в ОАО «Запсибгазпром», заместителем генерального директора и позднее генеральным директором в ОАО «Севернефтегазпром», помощником заместителя председателя Правительства РФ И.И. Сечина в Аппарате Правительства РФ, руководителем Федерального агентства по недропользованию Министерства природных ресурсов.",
            },
            {
              text: "Награждён почётной грамотой ОАО «Газпром» за ввод в эксплуатацию Южно-Русского НГКМ, званием «Почетный работник топливно-энергетического комплекса» от Министерства энергетики РФ и медалью ордена «За заслуги перед Отечеством» II степени за достигнутые трудовые успехи.",
            },
          ],
        },
      ],
    },
    {
      id: "slide-7",
      imgName: "about/slide-7",
      imgFormat: "png",
      imgWidth: 160,
      imgHeight: 160,
      imgAlt: "Фотография человека",
      title: "Григорьев",
      subtitle: "Антон Павлович",
      desc: "Директор по&nbsp;юридическому сопровождению стратегических проектов и&nbsp;корпоративной деятельности ГК&nbsp;&laquo;Мангазея&raquo;",
      imgContentName: "slide-more-5",
      imgContentFormat: "png",
      imgContentWidth: 165,
      imgContentHeight: 246,
      imgContentAlt: "Фотография человека",
      textBlocks: [
        {
          texts: [
            {
              text: "За 25 лет трудового стажа прошёл поступательный профессиональный путь от помощника бурильщика в УБП ПАО «Варьеганнефтегаз» (г. Радужный) до генерального директора ООО «НК «Итера». Работал главным технологом подрядных работ по строительству скважин в ОАО «Запсибгазпром», заместителем генерального директора и позднее генеральным директором в ОАО «Севернефтегазпром», помощником заместителя председателя Правительства РФ И.И. Сечина в Аппарате Правительства РФ, руководителем Федерального агентства по недропользованию Министерства природных ресурсов.",
            },
            {
              text: "Награждён почётной грамотой ОАО «Газпром» за ввод в эксплуатацию Южно-Русского НГКМ, званием «Почетный работник топливно-энергетического комплекса» от Министерства энергетики РФ и медалью ордена «За заслуги перед Отечеством» II степени за достигнутые трудовые успехи.",
            },
          ],
        },
      ],
    },
    {
      id: "slide-8",
      imgName: "about/slide-8",
      imgFormat: "png",
      imgWidth: 160,
      imgHeight: 160,
      imgAlt: "Фотография человека",
      title: "Поляков",
      subtitle: "Владимир Павлович",
      desc: "Директор по&nbsp;внешнеэкономическим связям ГК&nbsp;&laquo;Мангазея&raquo;",
      imgContentName: "slide-more-5",
      imgContentFormat: "png",
      imgContentWidth: 207,
      imgContentHeight: 207,
      imgContentAlt: "Фотография человека",
      textBlocks: [
        {
          texts: [
            {
              text: "За 25 лет трудового стажа прошёл поступательный профессиональный путь от помощника бурильщика в УБП ПАО «Варьеганнефтегаз» (г. Радужный) до генерального директора ООО «НК «Итера». Работал главным технологом подрядных работ по строительству скважин в ОАО «Запсибгазпром», заместителем генерального директора и позднее генеральным директором в ОАО «Севернефтегазпром», помощником заместителя председателя Правительства РФ И.И. Сечина в Аппарате Правительства РФ, руководителем Федерального агентства по недропользованию Министерства природных ресурсов.",
            },
            {
              text: "Награждён почётной грамотой ОАО «Газпром» за ввод в эксплуатацию Южно-Русского НГКМ, званием «Почетный работник топливно-энергетического комплекса» от Министерства энергетики РФ и медалью ордена «За заслуги перед Отечеством» II степени за достигнутые трудовые успехи.",
            },
          ],
        },
      ],
    },
    {
      id: "slide-9",
      imgName: "about/slide-9",
      imgFormat: "png",
      imgWidth: 160,
      imgHeight: 160,
      imgAlt: "Фотография человека",
      title: "Думби",
      subtitle: "Станислав Анатольевич",
      desc: "Заместитель генерального директора по&nbsp;экономической и&nbsp;информационной защите бизнеса",
      imgContentName: "slide-more-5",
      imgContentFormat: "png",
      imgContentWidth: 207,
      imgContentHeight: 207,
      imgContentAlt: "Фотография человека",
      textBlocks: [
        {
          texts: [
            {
              text: "За 25 лет трудового стажа прошёл поступательный профессиональный путь от помощника бурильщика в УБП ПАО «Варьеганнефтегаз» (г. Радужный) до генерального директора ООО «НК «Итера». Работал главным технологом подрядных работ по строительству скважин в ОАО «Запсибгазпром», заместителем генерального директора и позднее генеральным директором в ОАО «Севернефтегазпром», помощником заместителя председателя Правительства РФ И.И. Сечина в Аппарате Правительства РФ, руководителем Федерального агентства по недропользованию Министерства природных ресурсов.",
            },
            {
              text: "Награждён почётной грамотой ОАО «Газпром» за ввод в эксплуатацию Южно-Русского НГКМ, званием «Почетный работник топливно-энергетического комплекса» от Министерства энергетики РФ и медалью ордена «За заслуги перед Отечеством» II степени за достигнутые трудовые успехи.",
            },
          ],
        },
      ],
    },
  ]

mixin team(url)
  section.team(id="team")&attributes(attributes)
    +section-header(teamSection)
    +team-slider(teamSlider, url)
