.btn-load-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: max-content;
  margin-left: size(15px);

  @include vp-1023 {
    margin-left: 0;
  }

  @include has-hover {
    &:hover {
      .btn-load-more__icon {
        background-color: $color-default-white;
        color: $color-nero;
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: size(3px);
    width: size(48px);
    height: size(48px);
    border-radius: 50%;
    background-color: $color-midnight-express;
    color: $color-default-white;
    transition: background-color, $trans-default;
    transition: color, $trans-default;

    @include vp-1439 {
      margin-bottom: 3px;
      width: 48px;
      height: 48px;
    }

    svg {
      width: size(20px);
      height: size(20px);

      @include vp-1439 {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__btn {

    width: max-content;
    min-width: size(275px);
    color: $color-nero;
    background-color: transparent;
    text-transform: uppercase;
    font-size: size(12px);
    line-height: size(18px);
    letter-spacing: size(0.4px);

    @include vp-1439 {
      min-width: 275px;
    }
  }
}
