.contacts {
  margin-bottom: size(96px)
}

.contacts__inner {
  margin-top: size(24px);
}

.contacts .section-header {
  padding-bottom: size(31px);
}

.contacts .section-header__title-wrp {
  max-width: size(538px);
}

.contacts .section-header__title {
  margin-top: size(4px);
  padding-left: size(4px);
}
