.footer {
  &__inner {
    display: flex;
  }

  &__img-wrp {
    position: relative;
    flex-shrink: 0;
    width: 25%;
    aspect-ratio: 361 / 295;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__img-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: size(84px);
    height: size(118px);

    @include vp-1439 {
      width: 84px;
      height: 118px;
    }
  }

  &__info {
    flex-grow: 2;
  }

  &__nav {
    padding: size(48px) 0;
    border-bottom: size(1px) solid $color-nero-10;

    @include vp-1439 {
      padding: 48px 0;
      border-bottom-width: 1px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: size(-6px) size(-12px) size(-10px) size(-6px);
    padding: 0;
    list-style: none;

    @include vp-1439 {
      margin: 6px -12px 10px 6px;
    }
  }

  &__item {
    margin: 0 size(12px) size(10px) 0;

    @include vp-1439 {
      margin: 0 12px 10px 0;
    }
  }

  &__nav-link {
    padding: size(6px);

    @include vp-1439 {
      padding: 6px;
    }
  }

  &__contacts {
    padding: size(48px) 0;
    border-bottom: size(1px) solid $color-nero-10;

    @include vp-1439 {
      padding: 48px 0;
      border-bottom-width: 1px;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
    }

    .link-download {
      margin: 0 0 0 auto;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    margin: 0 7% 0 0;
  }

  &__contact-title {
    color: $color-nero-50;
  }

  &__contact-link {
    font-weight: 500;
  }

  &__bottom {
    padding: size(32px) 0;

    @include vp-1439 {
      padding: 32px 0;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__copyright {
    display: block;
    margin: 0 5% 0 0;
    color: $color-nero-50;
  }

  &__development {
    display: flex;
  }

  &__development-text {
    margin-right: size(4px);
    color: $color-nero-50;

    @include vp-1439 {
      margin-right: 4px;
    }
  }

  &__development-link {
    display: inline;
  }
}
