.header {
  $root: &;

  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  display: flex;
  align-items: stretch;
  opacity: 0;
  transition: opacity $trans-600,
    transform $trans-600;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    height: size(1px);
    background: $color-default-white-15;
    transition: background 0.2s;

    @include vp-1439 {
      height: 1px;
    }
  }

  &::after {
    z-index: -1;
    height: auto;
    top: 0;
    background: $color-bridal-heath;
    transform: scale(1, 0);
    transform-origin: center bottom;
    transition: transform 0.2s;

    @include vp-1439 {
      height: auto;
    }

    @include vp-767 {
      transform-origin: center top;
    }
  }

  &.is-fixed {
    &::before {
      background: $color-nero-10;
    }

    &::after {
      transform: scale(1, 1);
    }
  }

  &--has-bg {
    background: $color-bridal-heath;

    &::after {
      display: none;
    }

    #{$root}__logo {
      background-color: $color-midnight-express;
    }
  }

  &--top {
    opacity: 1;
    transform: translateY(0);
  }

  &__logo {
    position: relative;
    z-index: 1;
    width: size(224px);
    padding: size(24px) size(48px);

    @include vp-1439 {
      width: 224px;
      padding: 24px 48px;
    }

    @include vp-1023 {
      width: 176px;
      padding: 24px;
    }

    @include vp-767 {
      padding: 16px;
      width: 160px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: size(1px);
      background: $color-default-white-15;

      @include vp-1439 {
        width: 1px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $color-midnight-express;
      transform: scale(1, 0);
      transform-origin: center bottom;
      transition: transform $trans-200;

      @include vp-767 {
        transform-origin: center top;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    .is-fixed & {
      &::after {
        transform: scale(1, 1);
      }
    }
  }

  &__menu-wrp {
    display: flex;
    margin: 0 0 0 auto;
    padding: 0 0 0 size(48px);

    @include vp-1439 {
      padding: 0 0 0 48px;
    }
  }

  &__lang {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 size(42px);
    border-left: size(1px) solid $color-default-white-15;

    @include vp-1439 {
      padding: 0 42px;
      border-left-width: 1px;
    }

    .is-fixed & {
      border-left-color: $color-nero-10;
    }
  }

  &__link {
    padding: size(6px);
    color: $color-default-white;

    @include vp-1439 {
      padding: 6px;
    }

    .is-fixed & {
      color: $color-nero;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 size(42px);
    border-left: size(1px) solid $color-default-white-15;

    @include vp-1439 {
      padding: 0 42px;
      border-left-width: 1px;
    }

    .is-fixed & {
      border-left-color: $color-nero-10;
    }
  }

  &__quotes-wrp {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 size(42px);

    @include vp-1439 {
      padding: 0 42px;
    }
  }

  &__quotes {
    margin: 0;
    padding: size(6px);
    background: none;
    appearance: none;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    @include vp-1439 {
      padding: 6px;
    }

    @include has-hover {
      #{$root}__quotes-title {
        color: $color-default-white-50;
      }
    }
  }

  &__quotes-title {
    color: $color-default-white;
    transition: color $trans-default;

    .is-fixed & {
      color: $color-nero;
    }
  }

  // &.is-hidden {
  //   @include vp-767 {
  //     transform: translateY(-100%);
  //     pointer-events: none;
  //   }
  // }
}
