.history {
  & .section-header {
    padding: size(124px) 0 size(65px);

    @include vp-767 {
      padding: size(96px) 0 size(24px);

      & br {
        display: none;
      }
    }

    & ~ .container {
      padding-right: 0;
    }
  }

  & .section-header__header-wrp {
    @include vp-767 {
      margin-bottom: 24px;
    }
  }

  & .section-header__text {
    @include vp-767 {
      display: none;
    }
  }
}
