.info-block {
  padding-top: size(96px);
  padding-bottom: size(96px);
  background-color: $color-bridal-heath;

  @include vp-1439 {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  @include vp-767 {
    display: flex;
    padding-top: 48px;
    padding-bottom: 36px;
  }

  &__top-text {
    margin-top: 0;
    margin: 0;

    @include vp-767 {
      font-size: 14px;
      line-height: 22px;
    }

    &--des {
      @include vp-1023 {
        display: none;
      }
    }

    &--mob {
      display: none;

      @include vp-1023 {
        display: block;
      }
    }
  }

  &__accent {
    display: flex;

    .link-arrow {
      .link-arrow__icon {
        margin-bottom: size(10px);

        @include vp-1439 {
          margin-bottom: 10px;
        }
      }

      @include vp-1023 {
        display: none;
      }
    }
  }

  &__accent-text {
    margin-top: size(36px);
    margin-bottom: size(52px);

    color: $color-nero;

    @include vp-1439 {
      margin-top: 36px;
      margin-bottom: 52px;
    }

    @include vp-1279 {
      font-size: 96px;
      line-height: 96px;
    }

    @include vp-1023 {
      font-size: 80px;
      line-height: 80px;
    }

    @include vp-767 {
      margin-top: 21px;
      margin-bottom: 19px;
    }

    &--des {
      @include vp-1023 {
        display: none;
      }
    }

    &--mob {
      display: none;

      @include vp-1023 {
        display: block;
      }
    }
  }


  &__footer {
    display: flex;

    @include vp-1023 {
      justify-content: space-between;
    }

    @include vp-767 {
      flex-direction: column;
      min-height: 239px;
    }
  }

  &__left-col {
    margin-right: size(24px);

    @include vp-1439 {
      margin-right: 24px;
    }

    @include vp-1023 {
      margin-right: 20px;
    }
  }

  &__right-col {
    flex-shrink: 0;
    margin-left: auto;
    max-width: 50%;
    width: 100%;

    @include vp-767 {
      max-width: 100%;
    }

    .user-card {
      margin-top: size(48px);

      @include vp-1439 {
        margin-top: 48px;
      }

      @include vp-767 {
        margin-top: 33px;
        margin-bottom: 65px;
      }
    }

    .link-arrow {
      margin-top: size(48px);

      @include vp-1439 {
        margin-top: 48px;
      }

      @include vp-767 {
        margin-top: auto;
      }
    }
  }

  &--accent {
    background-color: $color-midnight-express;

    @include vp-767 {
    }

    .info-block__top-text {
      color: $color-default-white;
    }

    .info-block__accent-text {
      color: $color-mariner;
    }

    .info-block__left-col {
      .text-18 {
        color: $color-default-white;
      }

      .text-14 {
        color: $color-default-white-50;

        @include vp-767 {
          br {
            display: none;
          }
        }
      }
    }

    .info-block__right-col {
      .text-14 {
        color: $color-default-white-50;
      }
    }

    .link-arrow {
      color: $color-default-white;

      .link-arrow__icon {
        border-color: $color-default-white-15;
      }
    }
  }

  &--minig {
    padding-top: size(128px);

    @include vp-1439 {
      padding-top: 128px;
    }
  }

  &--vacancy {
    @include vp-767 {
      padding-top: 31px;
    }
  }

  &--assets {
    border-bottom: 1px solid $color-nero-10;

    @include vp-767 {
      border-bottom: none;
      padding-bottom: 48px;

      & .info-block__footer {
        min-height: initial;

        & br {
          display: none;
        }
      }
    }
  }
}
