.intro-title {
  margin-top: size(96px);
  color: $color-default-white;
  border-bottom: size(1px) solid $color-default-white-15;

  @include vp-1439 {
    margin-top: 96px;
    border-bottom: 1px solid $color-default-white-15;
  }

  &__title {
    margin: 0;
    padding-top: size(68px);
    padding-bottom: size(69px);
    font-weight: 400;
    font-size: size(48px);
    line-height: size(64px);
    text-transform: uppercase;

    @include vp-1439 {
      padding-top: 68px;
      padding-bottom: 69px;
      font-size: 48px;
      line-height: 64px;
    }

    @include vp-767 {
      padding-top: 14px;
      padding-bottom: 39px;
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__bottom {
    border-top: size(1px) solid $color-default-white-15;

    @include vp-1439 {
      border-top: 1px solid $color-default-white-15;
    }

    @include vp-767 {
      border-top: none;
    }

    .container {
      display: flex;
      justify-content: space-between;
    }
  }

  &__filter {
    margin-right: size(-48px);
    min-height: size(64px);

    @include vp-1439 {
      margin-right: -48px;
      min-height: 64px;
    }

    @include vp-1023 {
      display: none;
    }

    .filter__name {
      margin-right: size(32px);

      @include vp-1439 {
        margin-right: 32px;
      }
    }

    .filter__select.custom-select {
      width: size(254px);

      @include vp-1439 {
        width: 254px;
      }

     /*&:last-of-type {
        width: 236px;
      }*/
    }
  }

  &--press {
    margin-top: size(89px);

    .intro-title__title {
      font-weight: 500;
      padding-top: size(72px);
      padding-bottom: size(64px);
      color: $color-nero;
    }
  }
}
