.modal-feedback-success {
  width: 100%;

  .section-title {
    max-width: size(450px);

    @include vp-1439 {
      max-width: 450px;
    }

    @include vp-767 {
      max-width: 340px;
    }

    &__header {
      display: none;
    }

    h2 ~ .section-title__info {
      @include vp-767 {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  &__text {
    font-size: size(14px);
    line-height: size(22px);
    color: $color-nero-50;
    margin: 0;

    @include vp-1439 {
      font-size: 14px;
      line-height: 22px;
    }

    @include vp-767 {
      padding: 0 30% 0 0;
    }
  }

  &__btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: size(64px);
    margin: size(48px) 0 0;
    color: $color-default-white;
    background-color: $color-midnight-express;
    text-transform: uppercase;
    font-size: size(12px);
    line-height: size(18px);

    @include vp-1439 {
      min-height: 64px;
      margin: 48px 0 0;
      font-size: 12px;
      line-height: 18px;
    }

    @include vp-767 {
      display: inline-flex;
    }
  }
}

.modal-feedback-success__title {
  font-size: size(34px);
  line-height: size(44px);
  margin-bottom: size(16px);
  margin-top: 0;

  @include vp-1439 {
    font-size: 34px;
    line-height: 44px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 32px;
  }
}
