.news-card {
  padding-top: size(37px);
  padding-bottom: size(50px);
  padding-left: size(48px);
  padding-right: size(48px);
  min-height: size(339px);
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-nero-10;
  transition: opacity $trans-default;

  @include vp-767 {
    padding-top: 38px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 42px;
    min-height: 248.4px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}

.news-card:nth-child(1n) {
  border-right: 1px solid $color-nero-10;

  @include vp-1023 {
    border-right: unset;
  }
}

.news-card:nth-child(1) {
  @include vp-1023 {
    display: none;
  }
}

.news-card--picture {
  border-bottom: unset;
}

.news-card:nth-child(1n).news-card--picture {
  border-right: unset;
}

.news-card--picture .news-card__date,
.news-card--picture .news-card__year,
.news-card--picture .news-card__month,
.news-card--picture .news-card__title  {
  color: $color-default-white;
}

.news-card__title-wrapper,
.news-card__date-wrapper,
.news-card__info-wrapper {
  z-index: 50;
}

.news-card__info-wrapper  {
  @include vp-1023 {
    display: flex;
    align-items: center;
  }
}

.news-card__date,
.news-card__year,
.news-card__month,
.news-card__title {
  margin-top: 0;
  color: $color-nero;
}

.news-card__number-wrapper {
  margin-bottom: size(5px);

  @include vp-1023 {
    margin-bottom: 0;
    margin-right: 8px;
  }
}

.news-card__date {
  font-size: size(34px);
  line-height: size(44px);
  margin-bottom: 0;

  @include vp-1023 {
    font-size: 38px;
    line-height: 38px;
    margin-top: -2px;
  }
}

.news-card__year,
.news-card__month,
.news-card__title {
  margin-bottom: 0;
}

.news-card__year,
.news-card__month {
  font-size: size(12px);
  line-height: size(18px);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include vp-1023 {
    font-size: 12px;
    line-height: 18px;
  }
}

.news-card__title {
  font-size: size(18px);
  line-height: size(24px);
  letter-spacing: size(0.2px);

  @include vp-1023 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }

  @include vp-767 {
    letter-spacing: normal;
  }
}

.news-card__title br {
  @include vp-1023 {
    display: none;
  }
}

.news-card__title-wrapper {
  margin-top: auto;
  max-width: size(518px);
  padding-right: size(47px);

  @include vp-1023 {
    padding-right: 0;
    max-width: 100%;
  }
}

.news-card__link {
  position: absolute;
}

.news-card .news-card__image {
  display: none;
}

.news-card--picture .news-card__image {
  display: flex;
}

.news-card__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  @include vp-767 {
    aspect-ratio: 375 / 248;

    & ~ .news-card__title-wrapper p {
      font-weight: 400;
      letter-spacing: size(0.2px);
    }
  }
}

.news-card__image img {
  min-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.news-card__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
