.news {
  margin-bottom: size(110px);

  @include vp-1023 {
    margin-bottom: 45px;
  }
}

.news .container {
  padding: 0;
}

.news-list {
  position: relative;
}

.news-list::before {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 1px solid $color-nero-10;
  left: 0;
  right: 0;
  top: 0;
}

.news__btn-wrapper {
  display: flex;
  justify-content: center;
}
