.news-card {
  padding-top: size(40px);
  padding-bottom: size(49px);
  padding-left: size(48px);
  padding-right: size(48px);
  min-height: size(340px);
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-nero-10;
  transition: opacity $trans-default;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}

.news-card:nth-child(1n) {
  border-right: 1px solid $color-nero-10;
}

.news-card--picture {
  border-bottom: unset;
}

.news-card:nth-child(1n).news-card--picture {
  border-right: unset;
}

.news-card--picture .news-card__date,
.news-card--picture .news-card__year,
.news-card--picture .news-card__month,
.news-card--picture .news-card__title  {
  color: $color-default-white;
}

.news-card__title-wrapper,
.news-card__date-wrapper,
.news-card__info-wrapper {
  z-index: 50;
}

.news-card__date,
.news-card__year,
.news-card__month,
.news-card__title {
  margin-top: 0;
  color: $color-nero;
}

.news-card__date {
  margin-bottom: size(2px);
  font-size: size(34px);
  line-height: size(44px);

  @include vp-1023 {
    font-size:38px;
    line-height: 38px;
  }
}

.news-card__year,
.news-card__month,
.news-card__title {
  margin-bottom: 0;
}

.news-card__year,
.news-card__month {
  font-size: size(12px);
  line-height: size(18px);
  letter-spacing: 0.03em;

  @include vp-1023 {
    font-size: 12px;
    line-height: 18px;
  }
}

.news-card__title {
  font-size: size(18px);
  line-height: size(24px);

  @include vp-1023 {
    font-size: 16px;
    line-height: 22px;
  }
}

.news-card__title-wrapper {
  margin-top: auto;
}

.news-card__link {
  position: absolute;
}

.news-card .news-card__image {
  display: none;
}

.news-card--picture .news-card__image {
  display: flex;
}

.news-card__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.news-card__image img {
  min-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.news-card__link {
  position: absolute;
  top: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
