.video-block {
  grid-row: 1 / 3;

  position: relative;
  flex-shrink: 0;

  margin-left: size(120px);

  width: 100%;
  max-width: size(784px);

  @include vp-1023 {
    max-width: 100%;
    margin-left: 0;
  }
}

.video-block   .video-btn {
  position: absolute;
  left: size(48px);
  bottom: size(48px);

  @include vp-1439 {
    left: 48px;
    bottom: 48px;
  }

  @include vp-1023 {
    left: 24px;
    bottom: 24px;


  @include vp-767 {
    left: 16px;
    bottom: 16px;
    }
  }

  .video-btn__icon {
    margin-right: 0;
  }
}
