mixin map-geography(markers)
  .map-geography&attributes(attributes)(data-markers=markers)
    .map-geography__inner#map
    .map-geography__zoom-message(data-map-zoom)
        span Используйте ctrl/cmd + scroll, чтобы приблизить карту
