mixin user-card(props)
  .user-card&attributes(attributes)
    .user-card__avatar
      +picture(...props.img)
    .user-card__text
      p.heading-5.user-card__name !{props.name}
      p.text-14.user-card__position !{props.position}
