mixin header(headerMods, currentUrl)
  -
    const headerItems = [
      {
        href: "about.html",
        text: "О группе"
      },
      {
        href: "#",
        text: "Бизнесы",
        items: [
          {
            href: "business-mining.html",
            text: "Мангазея <br> Майнинг"
          },
          {
            href: "business-development.html",
            text: "Мангазея <br> Девелопмент"
          },
          {
            href: "business-agro.html",
            text: "Мангазея <br> Агро"
          },
          {
            href: "business-gas.html",
            text: "Мангазея <br> Газ"
          },
          {
            href: "business-mtec.html",
            text: "Мангазея <br> Технолоджи"
          },
        ]
      },
      {
        href: "social.html",
        text: "Социальная ответственность"
      },
      //- {
      //-   href: "news.html",
      //-   text: "Новости"
      //- },
      {
        href: "contacts.html",
        text: "Контакты"
      }
    ]

  header.header(class=headerMods, data-fix-block)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo
          img(src="img/svg/logo.svg", width="128", height="40", alt="Логотип Мангазея Майнинг")
      else
        a.header__logo(href="/", aria-label="Переход на главную")
          img(src="img/svg/logo.svg", width="128", height="40", alt="Логотип Мангазея Майнинг")
      nav.main-nav.header__menu
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
        .main-nav__wrapper
          .main-nav__inner
            ul.main-nav__list
              each item in headerItems
                - const activeState = currentUrl === item.href
                li.main-nav__item(class=item.items ? 'main-nav__item--has-sublist' : '')
                  if(activeState)
                    span.main-nav__link.link.is-active=item.text
                  else
                    a.main-nav__link.link(href=item.href)=item.text

                  if item.items
                    ul.main-nav__sublist
                      each subitem in item.items
                        li.main-nav__subitem
                          //- +card-businesses(subitem)

            .main-nav__download-link
              +link-download({name: "Скачать презентацию", href: "./pdf/MangazeyaGroup.pdf", ext: "pdf", size: "2.29 MB"})

      .header__lang
        a.header__link.link(href="#") En

