mixin header(headerMods, currentUrl, headerActivePage)
  -
    const headerItems = [
      {
        href: "#",
        text: "Компания"
      },
      {
        href: "#",
        text: "Активы",
      },
      {
        href: "#",
        text: "Устойчивое развитие"
      },
      {
        href: "#",
        text: "Поставщикам"
      },
      {
        href: "#",
        text: "карьера"
      },
      {
        href: "#",
        text: "Новости"
      },
      {
        href: "#",
        text: "Контакты"
      }
    ]

  header.header(class=headerMods)
    .header__inner
      if (currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo
          +icon('logo', 128, 40, true)(role="img" aria-label="Логотип Мангазея Майнинг")
          //- img(src="img/svg/logo.svg", width="128", height="40", alt="Логотип Мангазея Майнинг")
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +icon('logo', 128, 40, true)(role="img" aria-label="Логотип Мангазея Майнинг")
          //- img(src="img/svg/logo.svg", width="128", height="40", alt="Логотип Мангазея Майнинг")

      if headerActivePage
        .header__active
          +icon('arrow-right', 24, 24)
          span.caps-12.header__active-title!=headerActivePage

      .header__menu-wrp
        .header__quotes-wrp
          button.header__quotes(type="button", aria-pressed="false")
            span.caps-12.header__quotes-title Котировки

        .header__lang
          a.caps-12.header__link.link(href="#") En

        .header__menu-toggle-wrp
          button.header__menu-toggle.btn-reset(type="button", aria-pressed="false" data-menu-btn)
            span.caps-12.header__toggle-title Меню

    nav.main-nav.header__menu
      .main-nav__wrapper
        .container
          ul.main-nav__list
            each item in headerItems
              - const activeState = currentUrl === item.href
              li.heading-3-caps.main-nav__item
                if(activeState)
                  span.main-nav__link.link.is-active=item.text
                else
                  a.main-nav__link.link(href=item.href)=item.text

          .main-nav__download-link
            +link-download({name: "Скачать презентацию", href: "./pdf/MangazeyaGroup.pdf", ext: "pdf", size: "340 kb"})

